.founder_sec img {
    border-radius: 11px;
    box-shadow: 7px 7px 0 0 var(--primary-color);
    margin-bottom: 20px;
}
.founder_sec {
    padding: 50px 0;
}
.designation {
    font-weight: 600;
    font-size: 18px;
}
.founder_sec h6 {
    font-weight: 700;
}
