.mission_sec {
    background: url(../../public/images/homepage/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 80px 0;
}
.mission_boxes {
    padding: 60px 19px;
    background: var(--white-color);
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.mission_boxes img {
    margin-bottom: 25px;
}
.mission_boxes p {
    margin: 15px 0 20px;
}
.mission_boxes a {
    text-decoration: underline;
    font-weight: 600;
}
.testimonial_sec {
    background: #FBFBFB;
    padding: 80px 0;
}
.ourschool_sec {
    background: var(--primary-color);
    padding: 80px 0;
}
.ourschool_sec_hdng {
    margin-bottom: 20px;
}
.ourschool_boxes h6 {
    margin: 20px 0 10px;
    color: var(--heading-color);
}
.ourschool_boxes a {
    text-decoration: underline;
    font-weight: 600;
}
.partner_sec {
    padding: 80px 0;
}
.happyface_sec {
    padding: 80px 0;
}
.happyface_sec_hdng {
    margin-bottom: 20px;
}