@font-face {font-family: 'RecifeDisplay';src: url('../public/fonts/recifeDisplay/RecifeDisplay-Light.woff') format('woff');font-weight: 300;}
@font-face {font-family: 'RecifeDisplay';src: url('../public/fonts/recifeDisplay/RecifeDisplay-Regular.woff') format('woff');font-weight: 400;}
@font-face {font-family: 'RecifeDisplay';src: url('../public/fonts/recifeDisplay/RecifeDisplay-SemiBold.woff') format('woff');font-weight: 600;}
@font-face {font-family: 'RecifeDisplay';src: url('../public/fonts/recifeDisplay/RecifeDisplay-Bold.woff') format('woff');font-weight: 700;}
@font-face {font-family: 'RecifeDisplay';src: url('../public/fonts/recifeDisplay/RecifeDisplay-Black.woff') format('woff');font-weight: 900;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-Thin.woff') format('woff');font-weight: 100;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-Book.woff') format('woff');font-weight: 300;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-Regular.woff') format('woff');font-weight: 400;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-Medium.woff') format('woff');font-weight: 500;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-SemiBold.woff') format('woff');font-weight: 600;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-Bold.woff') format('woff');font-weight: 700;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-ExtraBold.woff') format('woff');font-weight: 800;}
@font-face {font-family: 'Axiforma';src: url('../public/fonts/axiforma/Axiforma-Black.woff') format('woff');font-weight: 900;}
:root {
    --primary-font: 'Axiforma';
    --secondary-font: 'RecifeDisplay';
    --primary-color: #FFDF00;
    --secondary-color: #155B2E;
    --heading-color: #202020;
    --text-color: #343434;
    --white-color: #fff;
    --black-color: #000;
    --footer-text-color: #848484;
}
html body {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-weight: 400;
    overflow-x: hidden;
}
.container {
    max-width: 1270px;
}
h1, h2, h3, h4, h5 {
    font-family: var(--secondary-font);
    color: var(--heading-color);
}
h1 span, h2 span, h3 span, h4 span, h5 span {
    font-weight: 700;
}
h1 {
    font-size: 66px;
}
h2 {
    font-size: 56px;
}
h3 {
    font-size: 44px;
}
h4 {
    font-size: 36px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 24px;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}



/* -- Header Css -- */


/* -- Footer Css -- */
.website-footer {
    background: var(--heading-color);
    padding: 10px 0;
}
.website-footer .copyright-text p {
    color: var(--footer-text-color);
    margin: 0;
    font-size: 14px;
}
.website-footer .row {
    align-items: center;
}
.website-footer .social-icons ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.website-footer .social-icons ul li {
    list-style: none;
}
.website-footer .social-icons ul li a img {
    transition: 0.3s;
}
.website-footer .social-icons ul li a:hover img {
    filter: brightness(1.5);
}


/* -- Tab Active Css -- */
button.nav-link.active {
    background: var(--primary-color) !important;
}




/* -- Slider Css -- */
.slick-dots {
    position: relative;
    bottom: 0;
}
.slick-dots li {
    margin: 0 5px;
    width: auto;
    height: auto;
}
.slick-dots li button {
    margin: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #ddd;
    padding: 0;
}
.slick-dots li button:before {
    display: none;
}
.slick-dots li.slick-active button {
    background: var(--primary-color);
}
.slick-track .slick-slide > div {
    margin: 0 10px;
}